.map-shadow {
	margin-top: -30px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.136);
	z-index: 1;
}

.storage_list_withmap .items .item .wrap {
	padding-right: 20px;
}
.storage_list_withmap .items .item .wrap .title {
	line-height: 1.22em;
	margin-bottom: 15px;
}
.storage_list_withmap .items .item .wrap .title::before {
	content: '';
	position: absolute;
	background-image: url('/bitrix/templates/aspro-priority/images/custom/map-logo-w.png');
	background-size: 100%;
	height: 16px;
	width: 16px;
	margin-top: 3px;
}
.storage_list_withmap .items .item .wrap .title a {
	display: block;
	margin-left: 22px;
	font-weight: 600;
}
.storage_list_withmap .items .item .wrap .address {
	line-height: 1.22em;
	font-size: 0.85em;
	margin-bottom: 10px;
	color: #333;
}
.storage_list_withmap .items .item .wrap .contacts {
	line-height: 1.5em;
	font-size: 0.85em;
}
.storage_list_withmap .flexslider {
	margin-bottom: 0;
	padding-top: 30px;
	border-top: 1px solid #f1f1f1;
}
@media(max-width: 991px) {
	.storage_list_withmap .flexslider {
		margin-bottom: 40px;
	}
	.storage_list_withmap .flex-control-paging li a {
		background-color: #f1f1f1;
	}
}