.for-business-use .use-items .button {
	margin-top: 30px;
}
.for-business-use .text {
	margin-bottom: 30px;
}
.for-business-use .use-items .item {
	display: flex;
	align-items: center;
	min-height: 110px;
}
.for-business-use .use-items .item .image {
	width: 90px;
}
.for-business-use .use-items .item .image img {
	width: 90px;
}
.for-business-use .use-items .item .title {
	font-weight: 600;
	padding-left: 40px;
}
.for-business-use .use-items .item .link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.for-business-use .use-items .item:hover .title {
	color: #f27570;
}