.inventory .text-block textarea {
	width: 100%;
	min-height: 300px;
	border: 1px solid #eff1f5;
	padding: 15px;
	overflow-y: scroll !important;
}
.inventory .pic-block {
	margin-top: 40px;
}
.inventory .pic-block .picture {
	margin-bottom: 30px;
}
.inventory .pic-block .picture img {
	width: 100%;
}

.inventory .load-file-block {
	padding-top: 10px;
}
.inventory .load-file-block .default_field {
	display: none;
}
.inventory .load-file-block .load-item {
	margin-bottom: 8px;
}
.inventory .load-file-block .load-item input[type="file"] {
	display: none;
}
.inventory .load-file-block .load-item .status {
	display: inline-block;
	margin-left: 20px;
}
.inventory .load-file-block .add-field-block a {
	color: #999;
	cursor: pointer;
}

.inventory .save-block {
	margin-top: 40px;
}