.skladlist_leftcol .items .item {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #f1f1f1;
}
.skladlist_leftcol .items .item .name {
	line-height: 1.3em;
	margin-bottom: 10px;
}
.skladlist_leftcol .items .item .name a {
	font-weight: 500;
}
.skladlist_leftcol .items .item .image {
	width: 70px;
	height: 70px;
	overflow: hidden;
	text-align: right;
	margin-left: -15px;
}
.skladlist_leftcol .items .item .image img {
	height: 100%;
}
@media (max-width: 991px) {
	.skladlist_leftcol .items .item .image {
		margin-left: 0;
	}
}
.skladlist_leftcol .items .item .address {
	font-size: 0.8em;
	line-height: 1.3em;
	margin-bottom: 10px;
}
.skladlist_leftcol .items .item .dostup-time {
	font-size: 0.8em;
	line-height: 1.3em;
	color: #333;
}
.skladlist_leftcol .items .item .rt {
	margin-top: -4px;
	margin-bottom: 8px;
}
.skladlist_leftcol .items .item .rt .rating_wrap.small .rating {
	display: inline-block;
	margin-bottom: -3px;
}
.skladlist_leftcol .items .item .rt .rating_wrap.small .rt_val {
	display: inline-block;
	margin-left: 2px;
	color: #333;
	font-weight: 500;
}
.skladlist_leftcol .items .item .rt .rating_wrap.small .votes_val {
	display: inline-block;
	margin-left: 7px;
}