.why-alfasklad {
	padding: 50px 0;
	border-top: 1px solid #f1f1f1;
	margin-top: -80px;
}
.why-alfasklad .item {
	min-height: 70px;
    display: flex;
    align-items: center;
}
.why-alfasklad .item .image {
	display: inline-block;
	width: 45px;
}
.why-alfasklad .item .text {
	display: inline-block;
	padding-left: 25px;
}
.why-alfasklad .item .link {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}