.form_payment_sberbank .text_block {
	margin-top: 40px;
}
.form_payment_sberbank .pay_systems_icons {
	margin-top: 30px;
}
.form_payment_sberbank .pay_systems_icons .item {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 15px;
}
.form_payment_sberbank .pay_systems_icons .item:first-child {
	margin-left: 0;
}


.form_payment_sberbank .form_block {
	max-width: 500px;
}
.form_payment_sberbank .form_block label:not(.error) {
	left: auto !important;
	font-weight: bold !important;
}
.form_payment_sberbank .form_block label:not(.error) {
	color: #333 !important;
}
.form_payment_sberbank .form_block select {
	color: #333 !important;
	font-size: 15px;
}
.form_payment_sberbank .form_block .required-star {
	color: red;
	font-weight: normal;
}
.form_payment_sberbank .form_block .hint {
	font-size: 10px;
}
.form_payment_sberbank .form_block select.form-control {
	font-weight: bold;
	color: #999;
}

.form_payment_sberbank .form_block .error_block {
	color: red;
	margin-bottom: 30px;
	font-size: 14px;
}