.balance_info_mainpage {
	margin-bottom: 10px;
}
.balance_info_mainpage .info {
	font-size: 1.5em;
	color: #333;
	line-height: 1.5em;
}
.balance_info_mainpage .info span {
	color: #ef5a54;
	font-weight: 500;
	text-transform: lowercase;
}
.balance_info_mainpage .button {
	text-align: right;
}
@media(max-width: 767px) {
	.balance_info_mainpage .button {
		text-align: center;
		margin-top: 20px;
	}
}


.lk_table table.table tr th,
.lk_table table.table tr td {
    text-align: left;
    vertical-align: middle;
}
.lk_table table.table tr th {
    background-color: #fff;
    color: #333;
    /*font-weight: 500;*/
    /*border-bottom: 2px solid #f1f1f1;*/
    font-size: 1em;
}
.lk_table table.table tr:hover {
    background: none;
}
.lk_table table.table tr:hover td:first-of-type {
    padding-left: 20px !important; 
    border-left: none !important;
}
.lk_table table.table tr:hover td:last-of-type {
    padding-right: 20px !important; 
    border-right: none !important;
}
.lk_table table.table tr td .icon {
    margin-bottom: 5px;
}
.lk_table table.table tr:last-of-type td {
    border-bottom: none;
}
@media(max-width: 767px) {
    .lk_table table.table tr {
        border-bottom: 1px solid #ef5a54;
    }
}
.lk_table table.table tr td .invoice_link a {
    text-transform: lowercase;
}

.contracts_list_mainpage .table {
	margin-top: 0;
}