.myboxes_list {}
.myboxes_list .box-item:not(:first-child) {
	padding-top: 40px;
	margin-top: 40px;
	border-top: 1px solid #f1f1f1;
}
.myboxes_list .picture img {
	width: 100%;
	height: auto;
}
.myboxes_list .box_name {
	font-size: 1.2em;
	font-weight: 500;
	color: #333;
}
.myboxes_list .box_props {
	margin-top: 20px;
}
.myboxes_list .box_props .name {
	float: left;
	width: 55%;
}
.myboxes_list .box_props .value {
	float: right;
	width: 45%;
	text-align: right;
	font-weight: bold;
}
.myboxes_list .buttons {
	margin-top: 20px;
}
.myboxes_list .buttons .btn {
	width: 100%;
}


.contracts_list {
    margin-top: 20px;
}
.contracts_list.lk_table tr td:nth-child(1) {
	width: 49%;
}
.lk_table table.table {
    margin-top: 0;
	margin-bottom: 0;
}
.lk_table table.table tr th,
.lk_table table.table tr td {
    text-align: left;
    vertical-align: middle;
	/*padding: 10px;*/
}
.lk_table table.table tr th {
    background-color: #fff;
    color: #333;
    /*font-weight: 500;*/
    /*border-bottom: 2px solid #f1f1f1;*/
    font-size: 1em;
}
.lk_table table.table tr:hover {
    background: none;
}

.lk_table table.table tr td:first-of-type {
    padding-right: 27px !important; 
}
.lk_table table.table tr:hover td {
    border-left: none !important;
	border-right: none !important;
}
.lk_table table.table tr:hover td:first-of-type {
    padding-left: 0 !important; 
}
.lk_table table.table tr:hover td:last-of-type {
    padding-right: 20px !important;
	padding-left: 20px !important; 
}

.lk_table .table tr th:nth-child(1),
.lk_table .table tr td:nth-child(1) {
    padding-left: 0;
}
.lk_table table.table tr td .icon {
    margin-bottom: 5px;
}
.lk_table table.table tr:last-of-type td {
    border-bottom: none;
}
@media(max-width: 767px) {
    .lk_table table.table tr {
        border-bottom: 1px solid #ef5a54;
    }
}
.lk_table table.table tr td .invoice_link a {
    text-transform: lowercase;
}

.myboxes_list .invoices_list {
	margin-top: 10px;
}
.myboxes_list .invoice_link a {
	text-transform: lowercase;
}

@media(min-width: 768px) {
	.myboxes_list .services_buttons {
		padding-left: 30px;
		border-left: 1px solid #f1f1f1;
	}
}
.myboxes_list .services_buttons .title {
	margin-bottom: 20px;
}
.myboxes_list .services_buttons .button {
	margin-top: 10px;
}
.myboxes_list .services_buttons .button .btn {
	width: 100%;
}


.modal.modal_box_on_floor_map {
  text-align: center;
}
.modal.modal_box_on_floor_map .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media screen and (min-width: 768px) { 
    .modal.modal_box_on_floor_map:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal.modal_box_on_floor_map .modal-dialog {
        width: calc(100% - 40px)
    }
}