.rating_small_block {
	border: 1px solid #eff1f5;
	padding: 24px;
	color: #333;
}
.rating_small_block .rating_wrap {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}
.rating_small_block .rt_item {
	margin: 0 0 15px 0 !important;
}
.rating_small_block .rt_item .r-val {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
.rating_small_block .rt_item .str-1 {
	font-weight: bold;
}
.rating_small_block .rt_item .str-2 {
	margin-top: -5px;
}
@media (max-width: 991px) {
	.rating_small_block {
		margin-top: 30px;
	}
	.rating_small_block .rt_item {
		padding: 0 !important;
	}
}



.rating_small_block .review_block .head .name:first-letter {
    color: #ef5a54;
}
.rating_small_block .review_block .rating-block {
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating_small_block .review_block .message {
    font-size: 13px;
    line-height: 1.4em;
    color: #333;
}
.rating_small_block .review_block .date {
    margin-top: 10px;
	margin-bottom: 10px;
    font-size: 12px;
    color: #999;
    text-transform: lowercase;
}