.about-alfasklad-block .item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
	padding-top: 50px;
}
.about-alfasklad-block .item {
	padding-bottom: 50px;
}
.about-alfasklad-block .item .image {
	width: 450px;
}

.about-alfasklad-block .item.pic-right .image {
	float: right;
}
.about-alfasklad-block .item.pic-right .text {
	padding-right: 490px;
}

.about-alfasklad-block .item.pic-left .image {
	float: left;
}
.about-alfasklad-block .item.pic-left .text {
	padding-left: 490px;
}

.about-alfasklad-block .item.pic-center .image {
	float: none;
	margin: 0 auto;
}

.about-alfasklad-block .item .flexslider {
	margin-bottom: 0;
}

.about-alfasklad-block .flex-control-nav {
    bottom: 10px;
}

@media (max-width: 800px) {
	.about-alfasklad-block .item .image {
		width: 100%;
	}
	.about-alfasklad-block .item.pic-right .image {
		float: none;
		margin-bottom: 10px;
	}
	.about-alfasklad-block .item.pic-right .text {
		padding-right: 0;
	}
	
	.about-alfasklad-block .item.pic-left .image {
		float: none;
		margin-bottom: 10px;
	}
	.about-alfasklad-block .item.pic-left .text {
		padding-left: 0;
	}
	.about-alfasklad-block .item {
		padding-bottom: 40px;
	}
}