.rental_catalog {
	position: relative;
	min-height: 100px;
	padding-bottom: 40px;
}

.photogallery_slider_catalog_item.detail {
	margin-bottom: 0;
}
.photogallery_slider_catalog_item .flex-control-nav {
    bottom: 10px;
	display: block !important;
}

.photogallery_slider_catalog_item .thmb_wrap .thmb {
	max-width: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.photogallery_slider_catalog_item .thmb.flexslider .slides li {
	opacity: 0.5;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.photogallery_slider_catalog_item .thmb.flexslider .slides li.flex-active-slide {
	opacity: 1;
}

.photogallery_slider_catalog_item .thmb_wrap {
    margin-top: 3px !important;
	text-align: left !important;
}
@media(max-width: 991px) {
	.photogallery_slider_catalog_item .thmb_wrap {
		margin-bottom: 30px !important;
	}
}

.rental_catalog_list .catalog_item {
	min-height: 273px;
	padding-top: 40px;
	margin-top: 40px;
	border-top: 1px solid #f1f1f1;
}
.rental_catalog_list .catalog_item .no_pic {
	text-align: center;
	opacity: .3;
	margin-bottom: 0 !important;
}
.rental_catalog_list .catalog_item .name {
	font-size: 1.2em;
}
.rental_catalog_list .catalog_item .props {
	margin-top: 15px;
}
.rental_catalog_list .catalog_item .props .prop .prop_val {
	color: #333;
}
.rental_catalog_list .catalog_item .text {
	font-size: 0.85em;
	margin-top: 15px;
	line-height: 1.7em;
}

.rental_catalog_list .catalog_item .sklad_name {
	margin-bottom: 10px;
}
@media(max-width: 991px) {
	.rental_catalog_list .catalog_item .sklad_name {
		margin-top: 30px;
	}
}
.rental_catalog_list .catalog_item .sklad_address {
	font-size: 0.85em;
}

.rental_catalog_list .catalog_item .sklad_dostup_time {
	margin-top: 12px;
}
.rental_catalog_list .catalog_item .sklad_dostup_time .lbl {
	font-size: 0.85em;
	line-height: 15px;
}
.rental_catalog_list .catalog_item .sklad_dostup_time .val {
	font-size: 0.85em;
	color: #333;
}

.rental_catalog_list .catalog_item .sklad_reception {
	margin-top: 12px;
}
.rental_catalog_list .catalog_item .sklad_reception .lbl {
	font-size: 0.85em;
	line-height: 15px;
}
.rental_catalog_list .catalog_item .sklad_reception .val {
	font-size: 0.85em;
	color: #333;
}
.rental_catalog_list .catalog_item .status {
	text-transform: uppercase;
	font-size: 0.9em;
}
.rental_catalog_list .catalog_item .status.unowned {
	color: #666;
}
.rental_catalog_list .catalog_item .status.opened {
	color: #00c600;
}
.rental_catalog_list .catalog_item .status.closed {
	color: #d50000;
}
@media(max-width: 991px) {
	.rental_catalog_list .catalog_item .status {
		margin-top: 30px;
	}
}

.rental_catalog_list .catalog_item .price {
	margin-top: 10px;
	font-weight: bold;
	color: #333;
	font-size: 1.1em;
}
.rental_catalog_list .catalog_item .old_price {
	color: #999;
	font-size: 0.9em;
	text-decoration: line-through;
}
.rental_catalog_list .catalog_item .discount_icon {
	position: absolute;
	z-index: 10;
	margin-top: -1px;
}
.rental_catalog_list .catalog_item .discount {
	margin-top: 10px;
}
.rental_catalog_list .catalog_item .buy_button {
	margin-top: 10px;
	position: relative;
}
.rental_catalog_list .catalog_item .buy_button .btn {
	width: 100%;
}

.rental_catalog_list .catalog_item .buy_block {
	margin-top: 10px;
}
.rental_catalog_list .catalog_item .buy_block .counter input {
    height: 31px;
}
.rental_catalog_list .catalog_item .buy_block .sum {
	font-weight: bold;
	font-size: 1em;
	color: #333;
}

