.features-for {
	margin-top: -10px;
}
.features-for .item {
	min-height: 70px;
    display: flex;
    align-items: center;
}
.features-for .item .image {
	display: inline-block;
	width: 45px;
}
.features-for .item .text {
	display: inline-block;
	padding-left: 25px;
}
.features-for .item .link {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}