.find_storage_list {
	margin-top: 50px;
}
.find_storage_list .items .item {
	padding: 30px 0;
}
.find_storage_list .items .item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
}
.find_storage_list .items .item .title {
	font-size: 1.1em;
	font-weight: 500;
}
.find_storage_list .items .item .address {
	padding-top: 10px;
	color: #333;
}
.find_storage_list .items .item .description {
	padding-top: 10px;
}
.find_storage_list .items .item .contacts {
	padding-top: 10px;
	color: #777;
}
.find_storage_list .items .item .contacts p {
	margin: 0;
}
.find_storage_list .items .item .contacts p.work-time-label {
	font-weight: 500;
	color: #333;
}
.find_storage_list .items .item .contacts .phone {
	padding-bottom: 10px;
	font-size: 1.2em;
	font-weight: 400;
}
.find_storage_list .items .item .contacts .phone .svg {
	margin-right: 15px;
}
@media (max-width:991px) {
	.find_storage_list .items .item .contacts .phone {
		padding-top: 10px;
	}
}