.features-for {
	margin-top: -10px;
}
.features-for .item {
	min-height: 70px;
    display: flex;
    align-items: center;
}
.features-for .item .image {
	display: inline-block;
	flex-grow: 0;    
	flex-shrink: 0; 
	flex-basis: 45px;
}
.features-for .item .text {
	display: inline-block;
	padding-left: 25px;
	line-height: 1.2em;
}
.features-for .item .link {
	position: absolute;
	display: block;
	width: 100%;
	height: 45px;
}
.features-for .button {
	margin-top: 20px;
}
.features-for .button .btn {
	width: 100%;
}
.features-pic {
	margin-bottom: 30px !important;
}

@media (max-width: 991px) {
	.features-for .button {
		margin-bottom: 30px;
	}
}