.mb0{ margin-bottom:0 }
.mb5{ margin-bottom:5px }
.mb10{ margin-bottom:10px }
.mb20{ margin-bottom:20px }
.mb30{ margin-bottom:30px }
.mb40{ margin-bottom:40px }
.mb50{ margin-bottom:50px }
.mb15{ margin-bottom:15px }
.mb25{ margin-bottom:25px }
.mb35{ margin-bottom:35px }
.mb45{ margin-bottom:45px }
.mb55{ margin-bottom:55px }
.mb60{ margin-bottom:60px }
.mb65{ margin-bottom:65px }
/************margin-top*************/
.mt0{ margin-top:0px }
.mt5{ margin-top:5px }
.mt10{ margin-top:10px }
.mt20{ margin-top:20px }
.mt30{ margin-top:30px }
.mt40{ margin-top:40px }
.mt50{ margin-top:50px }
.mt15{ margin-top:15px }
.mt25{ margin-top:25px }
.mt35{ margin-top:35px }
.mt45{ margin-top:45px }
.mt55{ margin-top:55px }
/************margin-right*************/
.mr5{ margin-right:5px }
.mr10{ margin-right:10px }
.mr20{ margin-right:20px }
.mr30{ margin-right:30px }
.mr40{ margin-right:40px }
.mr50{ margin-right:50px }
.mr15{ margin-right:15px }
.mr25{ margin-right:25px }
.mr35{ margin-right:35px }
.mr45{ margin-right:45px }
.mr55{ margin-right:55px }
.mr70{ margin-right:55px }
/************margin-left*************/
.ml5{ margin-left:5px }
.ml10{ margin-left:10px }
.ml20{ margin-left:20px }
.ml30{ margin-left:30px }
.ml40{ margin-left:40px }
.ml50{ margin-left:50px }
.ml15{ margin-left:15px }
.ml25{ margin-left:25px }
.ml35{ margin-left:35px }
.ml45{ margin-left:45px }
.ml55{ margin-left:55px }
/************padding-bottom*************/
.pb5{ padding-bottom:5px }
.pb10{ padding-bottom:10px }
.pb20{ padding-bottom:20px }
.pb30{ padding-bottom:30px }
.pb40{ padding-bottom:40px }
.pb50{ padding-bottom:50px }
.pb15{ padding-bottom:15px }
.pb25{ padding-bottom:25px }
.pb35{ padding-bottom:35px }
.pb45{ padding-bottom:45px }
.pb55{ padding-bottom:55px }
/************padding-top*************/
.pt0{ padding-top:0 }
.pt5{ padding-top:5px }
.pt10{ padding-top:10px }
.pt20{ padding-top:20px }
.pt30{ padding-top:30px }
.pt40{ padding-top:40px }
.pt50{ padding-top:50px }
.pt15{ padding-top:15px }
.pt25{ padding-top:25px }
.pt35{ padding-top:35px }
.pt45{ padding-top:45px }
.pt55{ padding-top:55px }
.p605{ padding-top:60px }
.pt65{ padding-top:65px }
.pt65{ padding-top:65px }
.pt70{ padding-top:70px }
/************padding-right*************/
.pr5{ padding-right:5px }
.pr10{ padding-right:10px }
.pr20{ padding-right:20px }
.pr30{ padding-right:30px }
.pr40{ padding-right:40px }
.pr50{ padding-right:50px }
.pr15{ padding-right:15px }
.pr25{ padding-right:25px }
.pr35{ padding-right:35px }
.pr45{ padding-right:45px }
.pr55{ padding-right:55px }
/************padding-left*************/
.pl5{ padding-left:5px }
.pl10{ padding-left:10px }
.pl20{ padding-left:20px }
.pl30{ padding-left:30px }
.pl40{ padding-left:40px }
.pl50{ padding-left:50px }
.pl15{ padding-left:15px }
.pl25{ padding-left:25px }
.pl35{ padding-left:35px }
.pl45{ padding-left:45px }
.pl55{ padding-left:55px }
.fast_view_item.scrollbar{
    overflow-y: auto;
}
.fast_view_item .thumbs_navigation{display: none}
/*popup fast view*/
.fast_view_frame.right_slide{max-width:900px;width:900px;z-index:2998;}
.fast_view_frame.right_slide .form .form_head{border-bottom:1px solid #f2f2f2;padding-top:15px;padding-bottom:10px;z-index:2;background:#fff;position:relative; margin-bottom: 15px;}
.fast_view_frame.right_slide .form .form_head h2{font-weight:normal;font-size:22px;}
.fast_view_frame.right_slide .close{top:31px;z-index:3}
.fast_view_frame.right_slide #fast_view_item{overflow:hidden;max-height: 100%; padding-bottom: 50px}
.fast_view_frame.right_slide #fast_view_item .loading_block{height:100%;}
.fast_view_frame.right_slide .catalog_detail .item_main_info{border:none;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .img_wrapper{width:310px;float:left;padding:30px 30px;}

.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info{margin:0px 269px 0px 310px;padding:0px;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info .info_item{padding:27px 30px 0px 30px;max-height:480px;overflow-y:auto;overflow-x:hidden;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info .info_item::-webkit-scrollbar{width:12px;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info .info_item::-webkit-scrollbar-track{box-shadow:none;border-radius:8px;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info .info_item::-webkit-scrollbar-thumb{border:4px solid #fff;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .right_info .info_item::-webkit-scrollbar-thumb:window-inactive {background:#999;border:4px solid #fff;}
.fast_view_frame.right_slide .catalog_detail .info_item .title a{font-size:18px;line-height:24px;}
.fast_view_frame.right_slide .catalog_detail .rating{margin:0px 0px 10px;}
.fast_view_frame.right_slide .catalog_detail .info_item .top_info{border-bottom:none;padding-top:0px;}
.fast_view_frame.right_slide .catalog_detail .info_item .iblock-vote {margin-top:5px;}
.fast_view_frame.right_slide .catalog_detail .info_item .iblock-vote table td div{cursor:pointer;background:url(images/svg/ai.svg) -137px -51px no-repeat;width:15px;height:14px;overflow:hidden;}
.fast_view_frame.right_slide .catalog_detail .info_item .iblock-vote table td div.star-empty {background-position:-152px -51px;}
.fast_view_frame.right_slide .catalog_detail .item-stock{margin:0px;line-height:18px;}
.fast_view_frame.right_slide .catalog_detail .item_main_info .prices_item_block{float:right;width:269px;padding:31px 30px 0px 27px;max-height:507px;overflow-y:auto;overflow-x:hidden;}
.bx-ie .fast_view_frame.right_slide .catalog_detail .item_main_info .prices_item_block{overflow-y:hidden;}
.fast_view_frame.right_slide .catalog_detail .item_main_info  .stickers{top:30px;left:30px;}
.fast_view_frame.right_slide .catalog_detail .prices_block .price{float:none;display:inline-block;}
.fast_view_frame.right_slide .catalog_detail .buy_block{margin-right:-4px;}
.catalog_detail .counter_wrapp{padding:0px;display:block;}
.catalog_detail .counter_wrapp > div{margin-top:15px;margin-bottom:12px;float:left;}
.catalog_detail .counter_wrapp .button_block{float:right;}
.catalog_detail .wrapp_one_click{display:block;clear:both;}
.catalog_detail .wrapp_one_click .btn{display:block;}
.fast_view_frame.right_slide .info_item .top_info .article{color:#888888;}
.fast_view_frame.right_slide .info_item .preview_text{color:#555;font-size:13px;height:auto;max-height:none;}
.fast_view_frame.right_slide .title_tab{font-size:13px;color:#333333;padding:12px 0px 0px;}
.fast_view_frame.right_slide .item-stock .value, .fast_view_frame.right_slide .item-stock .value span{color:#666666;}
.fast_view_frame.right_slide .description_wrapp .like_icons{border-top:none;margin-top:0px;}
.fast_view_frame.right_slide .buy_block + .description_wrapp .like_icons{border-top:none;margin-top:13px;}
.fast_view_frame.right_slide .description_wrapp .like_icons span span{margin:0px;display:inline-block;vertical-align:middle;padding:0px 0px 0px 10px;}
.fast_view_frame.right_slide .wish_item.added, .fast_view_frame.right_slide .wish_item.added:hover{background:#fff;}
.fast_view_frame.right_slide .bx_catalog_item_scu .bx_item_detail_scu ul li .cnt_item, .fast_view_frame.right_slide .bx_scu_scroller_container ul li .cnt_item{width:54px;height:54px;}
body .fast_view_frame.right_slide .prices .price_matrix_block .price_wrapper_block > div{padding-left:6px;}
body .bx_catalog_item_scu .bx_item_detail_scu ul li.active span.cnt1, body .bx_catalog_item_scu .bx_item_detail_scu ul li span.cnt1{background:none;}
.fast_view_frame.right_slide .form .form-header{
    padding: 30px 0;
}
.fast_view_frame.right_slide .price{
    font-size: 1.7333em;
    font-weight: bold;
    color: #333;
}
.wrapp_one_click{padding: 5px}
.fast_view_frame .prices_block{
    margin-top: 30px;
}
.fast_view_frame .counter_wrapp{
    margin-top: 30px;
}
.fast_view_frame .counter,.catalog_detail .counter{
    width: 50%;
    padding: 5px;
    background: none;
}
.fast_view_frame .counter input{
    height: 46px;
}
.fast_view_frame .counter .wrap,.catalog_detail .counter .wrap{
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background: #f8f9fb;
}
.fast_view_frame .button_block,.catalog_detail .button_block{
    padding: 5px;
}
.catalog_detail .buy_block{
    width: 400px;
    max-width: 100%;
}
.catalog_detail .buy_block .btn{width: 100%}
.fast_view_frame .buy_block .btn{
    padding: 16px 21px 15px;
    font-size: 0.7333em;
    width: 100%;
}
.quantity_block_wrapper .cheaper_form{position:relative;padding-left:22px; margin: 10px 0;}
.quantity_block_wrapper .cheaper_form:before{content:"";position:absolute;top:6px;left:0px;width:15px;height:15px;background:url("../images/svg/ai.svg") -74px -84px no-repeat;}
.quantity_block_wrapper .cheaper_form > span{border-bottom:1px dotted;}
.quantity_block_wrapper .cheaper_form:hover span{color:#1d2029;}

/*flex arrow*/
.flex-direction-nav li:first-child, .flex-direction-nav li, .flex-direction-nav li:hover { border-bottom-width: 0px !important; }
ul.slider_navigation { right: 0px; position: absolute; top: 0px; z-index: 1;margin:0px; }
ul.slider_navigation ul{margin:0px;}
.bx-ie .specials_slider_wrapp ul.slider_navigation.top { top: 27px; }

.wraps > .wrapper_inner:not(.wide_page) ul.slider_navigation.top { top: 18px; }
.wraps > .wrapper_inner:not(.wide_page) .bx-ie ul.slider_navigation.top { top: 18px; }

ul.slider_navigation.top_big { top: 21px; }
ul.slider_navigation.compare { position: initial; }
ul.slider_navigation.compare li { position: absolute; z-index: 10; top: -14px; }
ul.slider_navigation.compare li:not(.disabled) { cursor: pointer; }
ul.slider_navigation.compare .flex-nav-prev { left: 0px; }
ul.slider_navigation.compare .flex-nav-next { right: 0px; }
.flex-direction-nav li, .flex-direction-nav li a, .flex-direction-nav li span { width: 29px; height: 29px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; display: inline-block; }
.bx-ie .flex-direction-nav li, .bx-ie  .flex-direction-nav li a, .bx-ie  .flex-direction-nav li span { font-size: 0px; line-height: 0px; }
.flex-direction-nav li { border-bottom-width: 0px; }
body .flex-direction-nav li:first-child, body .flex-direction-nav li { /*background: none;*/ }
.flex-direction-nav li:first-child { margin-right: 5px; }
.flex-direction-nav li a, .flex-direction-nav li span{ background: url(..//local/templates/aspro-priority/images/arrows.png) 0px 0px no-repeat; }
.flex-direction-nav li:not(.disabled) span { cursor: pointer; }
.flex-direction-nav li .flex-prev { background-position: 10px -50px; }
body .flex-direction-nav li:hover  .flex-prev, body .dark .flex-direction-nav li  .flex-prev{ background-position: 10px -26px; }
body .flex-direction-nav li .flex-next { background-position: -27px -50px; }
.flex-direction-nav li:hover .flex-next, .dark .flex-direction-nav li .flex-next { background-position: -27px -26px; }
.flex-direction-nav .flex-disabled { display: none; }

.border .flex-direction-nav{margin:0px;font-size:0px;line-height:0px;}
.border .flex-direction-nav li{border:1px solid #e5e5e5 !important;margin:0px;border-radius:0px;overflow:hidden;}
.border .flex-direction-nav li, .border .flex-direction-nav li a{width: 33px;height: 35px;}
.border .flex-direction-nav li:first-child{border-radius:2px 0px 0px 2px;}
.border .flex-direction-nav li:last-child{border-radius:0px 2px 2px 0px;}
.border.custom_flex .flex-direction-nav li:hover, .border.custom_flex .flex-direction-nav li:hover a{background-color:#f6f6f7 !important;overflow:hidden;}
.border.custom_flex .flex-direction-nav li a {background-position: 5px -18px ;}
.border.custom_flex .flex-direction-nav li:hover a {background-position: 5px 6px ;}
.border.custom_flex .flex-direction-nav li.flex-nav-next a {background-position: -70px -18px;}
.border.custom_flex .flex-direction-nav li.flex-nav-next:hover a {background-position: -69px 6px;}
.border.custom_flex .flex-direction-nav li.flex-nav-next{border-left-width:0px !important;}
.top_right.border.custom_flex .flex-direction-nav{position: absolute;top: -33px;right: 0px;}

.absolute .flex-direction-nav > li { position: absolute; top: 1px; }
.absolute .flex-direction-nav li.flex-nav-prev { left: -30px; }
.absolute .flex-direction-nav li.flex-nav-next { right: -30px; }

body .top_slider_wrapp .box[data-video_source="LINK"] .video.cover{left:auto;}
body .top_slider_wrapp .box .video.cover{max-height:none;position:static;min-height:none;}

.catalog_detail .availability-row { padding-left: 7px; margin-right: 10px; margin-bottom: 8px; }
.catalog_detail .item_main_info .like_icons > div {border-radius:100%;overflow: hidden;margin: 0px 0px 5px;}
#fast_view_item .catalog_detail .item_main_info .like_icons > div {border-radius:2px;}
.catalog_detail .item_main_info .like_icons > div.added > span {background:none;}
.catalog_detail .extended_info { margin: 10px 0; }
.catalog_detail .adaptive_extended_info_wrapp { display: none; }
.catalog_detail .adaptive_extended_info .brand { float: right; }

.item_slider .slides { padding: 0px; margin: 0px auto 22px; width: 100%; max-width: 400px; height: 300px; line-height: 397px; position: relative; zoom: 1; }
.item_slider .slides .offers_img img { vertical-align: middle; border: 0; max-width: 100%;max-height:100%; }
.item_slider:not(.flex) .slides li  { padding: 0; margin: 0; display: none; width: 100%; height: 300px; overflow: hidden; position: absolute; line-height: 400px; z-index: 50; }
.item_slider:not(.flex) .slides li.current { display: block; }
.item_slider .thumbs .slides_block li a { display: inline-block; height: 100%; width: 100%; }
.catalog_detail .item_slider #thumbs { height: 54px; white-space: nowrap; width: 256px; overflow: hidden; margin:0px; }
.catalog_detail .item_slider .thumbs { margin: 0px auto; max-width: 256px; position: relative; z-index: 1; }
.item_slider .thumbs .slides_block li  {overflow:hidden;vertical-align: bottom; list-style: none; width: 54px !important; height: 54px; display: block; zoom: 1; background: none; position: relative; text-align: center; line-height: 54px; margin: 0px 10px 0px 0px; border: 2px solid #fff; -webkit-transition: border-color ease-out 0.2s; -moz-transition: border-color ease-out 0.2s; -o-transition: border-color ease-out 0.2s; transition: border-color ease-out 0.2s; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; cursor: pointer; float: left; display: none; }

.item_slider .thumbs li.current { border-color: #ddd; }
.item_slider .thumbs li:hover { border-color: #9a9a9a; }

.item_slider .slides li.current { z-index: 0; }
.item_slider .slides li img, .item_slider .thumbs li img { position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; border: 0; max-width: 100%; }
.item_slider.flex { display: none; }
.item_slider.flex  .slides li, .item_slider.flex  .slides li img { position: static; text-align: center; }
.item_slider.flex  .slides li a{position:relative;}
.item_slider .flex-control-nav { text-align: center; margin-bottom: 10px; }
.b-share * { font-size: 10px; }
.item_slider.flex li{padding-left:0px;}
.mobile body .color-controls .flex-control-paging li:hover a{background: linear-gradient(to bottom,#b9b9b9 0,#cdcdcd 100%) !important;}
.catalog_detail .thumbs_navigation {
    display: none;
}
.one_click_buy_result { display: none; }
.product-item-detail-tabs-container-fixed .wrapper_inner {
    padding: 0px 30px;
    margin: 0 auto;
    background: #fff;
    float: none;
}
body .product-item-detail-tabs-container-fixed{position:fixed;top:-150px;left:0;right:0;z-index:995;
    background-color:#fff;box-shadow:0 4px 14px 0 rgba(32,54,74,.23);-webkit-transition:top 350ms linear;-moz-transition:top 350ms linear;
    -ms-transition:top 350ms linear;-o-transition:top 350ms linear;transition:top 350ms linear;min-height:40px;}
body .product-item-detail-tabs-container-fixed.fixed{top:79px;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list{border:none;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li{float:none;display:inline-block;vertical-align:top;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a{border:none;position:relative;padding:17px 36px 19px;font-weight:bold;margin:0px;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:hover, .product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:focus{border:none;background:none;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:before{content:"";position:absolute;bottom:0px;left:0px;right:100%;height:2px;background:#ddd;transition:right 0.5s ease;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active a:before{right:0px;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active{border: none;}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active:after{display: none}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:before {
    background-color: #1976d2;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active a {
    color: #1976d2 !important;
}
.reviews-reply-buttons{margin-top: 20px;}
.catalog_detail .reviews-reply-form {padding-bottom:50px; }
.catalog_detail .reviews-reply-form .reviews-reply-buttons > input{margin:0px 12px 12px 0px;}

#reviews_content { display:none;margin-top:-20px;}
/*reviews*/
.reviews-reply-field .lhe-stat-toolbar-cont{border:1px solid #f2f2f2;border-bottom-width:0px;box-sizing:border-box;border-radius:2px 2px 0px 0px;background-color:#F7F7F7;}
.reviews-reply-field iframe{border:1px solid #f2f2f2 !important;box-sizing:border-box;border-radius:0px 0px 2px 2px;background-color:#F7F7F7;}
.reviews-reply-field-upload{padding:11px 0px 19px;}
.forum-upload-file-attach{font-size:13px;}
.reviews-reply-field input[type="checkbox"]{display:none;}

.reviews-reply-field-settings{padding:0px 0px 16px;}
.reviews-post-reply-buttons{margin:0px 0px 23px;}
.reviews-reply-buttons .button:first-child{margin:0px 13px 0px 0px;}
.reviews-post-reply-buttons a{font-size:13px;color:#999;}

.reviews-reply-fields{margin:0px 0px 19px 0px;}
.reviews-block-container{margin:0px 0px 30px 0px;}
.reviews-post-table{font-size:12px;border-bottom:1px solid #f2f2f2;width:100%;margin:0px 0px 13px;}
.reviews-post-table thead td .message-post-date{line-height:14px;padding-left:11px;font-size:13px;color:#777777;margin-left:0px;display:inline-block;}
.reviews-post-table thead td{color:#222;font-size:14px;}
.reviews-post-reply-buttons span.separator{background-color:#E0E0E0;display:inline-block;margin:0 4px;height:8px;line-height:5px;width:1px;}
.reviews-post-table .reviews-text{margin:9px 0px 14px;color:#555;font-size:14px;}
.forum-quote{background:#f8f2d4;width:100%;margin:5px 0px 0px;}
blockquote.bx-quote{background:#f8f2d4 !important;}
.forum-quote tr th{text-indent:-9999px;display:none;}
.forum-quote tbody tr td{border:1px solid #dddddd;padding:8px 13px 0px;background:url("images/font_quote.gif") no-repeat scroll -1px -1px;}
.forum-quote tbody tr td a, .reviews-header-title a {cursor:default;}
.reviews-reply-field-captcha .text_block{padding:0px 10px 0px 0px;font-size:12px;}
.reviews-reply-field-captcha .capch_block{padding:17px 0px 0px;line-height:0px;}
div.reviews-header-box{color:#fff;}
div.reviews-info-box, .reviews-note-box{border:1px solid #ddd;padding:10px;margin:0px 0px 20px;}
div.reviews-code-box{font-size:12px;width:100%;border-width:1px solid #ddd;background:#f8f2d4;}
div.reviews-code-box ol, div.reviews-code-box ol li, div.reviews-code-box ol li span{margin:0;padding:0;border:none;}
div.reviews-code-box ol{list-style:decimal;margin-left:3em;padding:0.5em 0;}
div.reviews-code-box ol li{list-style:decimal-leading-zero;list-style-position:outside !important;padding:0 0.5em 0 1.5em !important;margin:0;line-height:1.5em;}
.reviews-note-box  p{margin-bottom:0px;}
.reviews-note-box .reviews-note-error{color:#e62222 ;}

.reviews-reply-field .feed-add-post-text{padding:0px;}
div.reviews-collapse {
    margin-bottom: 20px;
}
#reviews_content .reviews-reply-form {
    display: none;
}

.info_item .stock_wrapper{float:left;width:100%;}
.stock_wrapper{margin:10px 0px 22px;}
.stock_wrapper .stock_board{padding:15px 0px 10px 58px;position:relative;font-size:13px;border-top:1px solid #f2f2f2;}
.stock_wrapper .stock_board.nt:before{top:13px;}
.stock_wrapper .stock_board:last-of-type{border-bottom:1px solid #f2f2f2;}
.stock_wrapper .stock_board:before{content:"";display:inline-block;position:absolute;width:45px;height:45px;background:url('images/icons_goods.png') -1px -139px no-repeat;left:0px;top:23px;}
.stock_wrapper .stock_board .title{font-size:15px;font-weight:bold;}
.stock_wrapper .stock_board .read_more{font-size:13px;}
.stock_wrapper .stock_board  .txt{margin:5px 0 4px;line-height:18px;}
.share_wrapp{position:relative;}
.share .catalog_detail .share_wrapp{display:inline-block;}
.share_wrapp .text{font-size:14px;border-color:#888;text-transform:none;padding:7px 10px 8px 32px;position:relative;color:#222;line-height:15px;}
.share_wrapp .text:before{content:"";display:inline-block;position:absolute;width:12px;height:14px;background:url('images/svg/ai.svg') -426px -50px no-repeat;left:13px;top:8px;opacity:0.7;}
.share_wrapp .text:hover{border-color:444444;}
.share_wrapp .text:hover{color:444444;}
.share_wrapp .text:hover:before{opacity:1;}
.share_wrapp .shares{display:none;position:absolute;top:42px;left:-5px;z-index:2;background:#fff;box-shadow:0px 0px 15px rgba(0,0,0,.12);border-radius:2px;margin:0px -20px;width:155px;}
.share_wrapp .shares .b-share{padding:20px 20px 15px !important;}
.share_wrapp .shares .b-share a{padding:0px !important;}
.share_wrapp .shares .b-share a:nth-child(3n){margin-right:0px;}
.share_wrapp .shares:after{content:'';position:absolute;width:0;height:0;border:11px solid transparent;border-bottom-color:#fff;left:50%;top:-16px;margin-left:-11px;}
li.tab{
    margin: 0;
}
li.tab:before{display:none;}

.jqmWindow.right_slide .form.popup>.wrap .right_slide__content{padding:0 70px;}

/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

.block .catalog_block .catalog_item_wrapp .catalog_item:hover{
    z-index: 100;
}
.jqmWindow.right_slide.opacity1{
    max-width: 100%;
}
.jqmWindow .prices_item_block{
    padding-top: 20px;
}
@media (max-width:1000px){
    body .product-item-detail-tabs-container-fixed.fixed{
        display: none;
    }
    .tabs .nav-tabs + .tab-content{
        padding-top: 20px;
        margin-top: 20px;
    }
}
@media (max-width:600px){
    .jqmWindow{
        padding: 0 20px;
    }
    .jqmWindow.right_slide .form.popup>.wrap form, .jqmWindow.right_slide .form.popup>.wrap .right_slide__content{
        padding: 0 20px;
    }
    .catalog_detail .img_wrapper{
        overflow: hidden;
    }

    .catalog_detail .item_main_info .item_slider{
        width: 100%;

    }
    .container .catalog_detail .item_slider .slides {
        margin-bottom: 0;
    }
    .catalog_detail .item_main_info .right_info{
        padding: 0;
    }

    .catalog_detail .item_main_info .right_info .info_item{
        padding: 0 15px;
    }
    div.reviews-collapse{
        float: none;
    }
    .catalog_detail .offers_table.table{
        margin: 0;
    }
    .catalog_detail table.table.offers_table > tbody > tr > td{
        padding: 5px;
    }
    .catalog_detail .offers_table.table td.price{
       white-space: nowrap;
    }
}
@media (max-width:400px){

    .jqmClose.top-close{
        line-height: 16px;
        width: 16px;
        height: 16px;
    }
    .jqmWindow{
        padding: 0;
    }
    .jqmWindow.right_slide .form.popup>.wrap form, .jqmWindow.right_slide .form.popup>.wrap .right_slide__content{
        padding: 0;
    }
    .catalog_detail .item_main_info .item_slider{
        padding: 20px 15px;
    }
    .catalog_detail .item_main_info{
        border: none;
        padding: 0;
        margin: 0;
    }
}